parameters:
	level: 8
	paths:
		- src
		- tests
		- phpstan

services:
	-
		class: ZeleznyPa\ArrayWrapper\PHPStan\ArrayWrapperMethodsClassReflectionExtension
		tags:
			- phpstan.broker.methodsClassReflectionExtension
